<h1><a href="#">CloudEdit</a></h1>
<h2>A Backbone.js Rails Example by James Yu</h2>

<div id="notice"></div>
<div id="app"></div>
<script src="assets/backbone.js"></script>
<script src="assets/travel.js"></script>

<script type="text/javascript">
    $(function() {
        App.init();
    });
</script>